@charset "UTF-8";
.input{
	width: 470px;
	height: 52px;
	padding: 0 15px;
	border: 1px solid #cdcdcd;
}
.button{
	width: 500px;
	height: 56px;
	padding: 0 35px;
	margin: 20px 0;
	font-size: 17px;
	background-color: #5b606e;
	color: white;
	border: solid 1px #5b606e;
	cursor: pointer;
	border-radius: 4px;
}
.free-button{
	width: 500px;
	height: 56px;
	padding: 0 35px;
	margin: 20px 0;
	font-size: 17px;
	background-color: #5e2bb8;
	color: white;
	border: solid 1px #5e2bb8;
	cursor: pointer;
	border-radius: 4px;
}
checkbox{
	display: none;
}
.p{
	font-size: 13px;
	color: #888;
	padding-left: 15px;
	position: relative;
	line-height: 20px;
}
.p::before{	
	content: '※';
	display: inline-block;
	margin-right: 3px;
	position: absolute;
	top: 0;
	left: 0;
}
.button:hover{
	opacity: 0.6;
}
main>.wrap>div{
	min-height: 350px;
	margin-top: 50px;
}
#loginForm>div:first-child strong{
	font-size: 32px;
}
#loginForm>div:nth-of-type(2){
	margin: 0 auto;
	display: table-caption;
}
#id-save-label{
	font-size: 14px;
	line-height: 28px;
}
.show{
	display:inline-block;
}
.checkbox{
	display: none;
}
.memberType{
	font-weight: 600px;
	width: 500px;
	height: 57px;
	margin-top: 30px;
	margin-bottom: 40px;
	
}
.memberType ul{
	border: 1px solid #cdcdcd;
	border-bottom: none;
	
}
.memberType>ul>li{
	width: 50%;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	height: 57px;
}
.memberType>ul>li:first-child{
	border-bottom: none;
}
.memberType>ul>li a{
	display: block;
	height: 36px;
	width: 100%;
	padding-top: 21px;
}
.choice{
	border: 1px solid #111111;
	border-bottom: none;
	color: #5e2bb8;
}
.non-choice{
	border-bottom: 1px solid #111111;
	color: #333;
	font-weight: 400;	
}
.login-form>form>ul>li{
	margin-top: 12px;
}
#id-save-label{
	padding-left: 34px;
	position: relative;
	cursor: pointer;
}
.id-pro label:before{
	position: absolute;
	display: inline-block; 
	content: '';
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-size: 100% auto;
	left: 1px;
	background: url('/img/log/ico_check.png') 0 0 no-repeat;
}
.id-pro input:checked+label:before{
	background-image: url('/img/log/ico_check_after.png') ;
}
.nomem-section{
	display: none;
}
.login-form form ul li select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 140px;
  height: 52px;
  padding: 0 30px 0 15px;
  position: relative;
}
.login-form form ul li select::after{
	content: '';
	display: inline-block;
	position: absolute;
	width: 10px;
	height: 6px;
	top: -5px;
	left: 0;
	background-image: url('/img/log/spr_com.png')
}
.login-form>form>ul>li:nth-of-type(3)>input{
	height: 50px; 
	padding: 0 15px;
	width: 318px;
	margin-left: 7px;
}
#selectEmail{
	display: none;
}
.non-member-choice label{
	height: 24px;
	padding-left: 34px;
	color: #333;
	line-height: 20px;
	position: relative;
}
.non-member-choice label:before{
	position: absolute;
	display: inline-block; 
	content: '';
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-size: 100% auto;
	left: 0px;
	top: -3px;
	background: url('/img/log/ico_radio.png') 0 0 no-repeat;
}
.non-member-choice input:checked+label:before{
	background-image: url('/img/log/ico_radio_checked.png') ;
}
.non-member-choice label:not(:nth-of-type(1)){
	margin-left: 20px;
}
#otherForm{
	display: none;
}
/* ///////////////////로그인하단공통////////////////// */
.login-bottom a{
	font-size: 13px;
	line-height: 1;
	position: relative;
	color: #333;
}
.login-bottom a span::before{
	position: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -2px;
	content: '';
}
.login-bottom span{
	position: inline-block;
	padding-left: 9px;
	min-height: 13px;
	margin-left: 5px;
	text-align: center;
	font-size: 13px;
}
.social-login{
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
}
.social-login>a{
	display: inline-block;
	margin: 0 10px;
	height: 42px;
	width: 42px;
	background-size: contain;
}
.social-login>a:nth-last-child(2) {
	border-radius: 50%;
	border: 1px solid #cdcdcd;
}