<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{/common/common::head}"/>
	<link rel="stylesheet" href="/css/join_1.css">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript">
		function autoEmail(value){
			console.log(value)
			$("#id-input").val(value);
		};
		
		$(function(){
			$("#all-agree").click(function(){
				if($("#all-agree").is(':checked')){
					$(".join-chk").prop('checked',true);
				}else{
					$(".join-chk").prop('checked',false);
				}
			});
			$(".join-chk").click(function(){
				if($('input[class=join-chk]:checked').length==$((".join-chk").length)){
					$("#all-agree").prop('checked',true);
				}else{
					$("#all-agree").prop('checked',false);
				}
			});
		});
		
		$(function(){
			$("#idCheck").click(function checkEmailAvailability() {
		        userinput = $("#emailId").val()+"@"+$("#id-input").val();
		        console.log(userinput);
		        $.ajax({
		          url: "/log/emailCheck",
		          type: "post",

		          data: {
		            email: userinput,
		          },

		          success: function (result) {
		            if(result == "red"){
		              $("#errors").show();
		              $("#idmsg").hide();
		            } else{
						$("#idmsg").show();
						$("#errors").hide();
		            }
		          }
		  		});
			});
		});
		
		$(function(){
	        $("#em").focusout(emCheckRule); 
		});
			var pwRule = /^(?=.*[a-zA-Z0-9])(?=.*\W).{8,16}$/;
			
			function pwCheckRule() {
		        userinput = $("#pw").val();
		        if (pwRule.test(userinput) && !emptyCheck.test(userinput)) {
		          $("#pw").css("border", "2px solid green");
		          $("#pw").css("color", "green");
		          $("#errors").text("");
		          return true;
		        } else {
		          $("#pw").css("border", "2px solid red");
		          $("#pw").css("color", "red");
		          $("#errors").text("비밀번호 : 8~16자, 특수문자 최소 2개 포함");
		          return false;
		        }
		      }
	</script>
</head>
<body>
	<header>
		<th:block th:insert="~{/common/common::header}"/>	
	</header>
	<main>
		<div class="wrap view-size flex center">
			<div class="flex center">
				<div class="joinChoice center" >
					<div class="flex center column joinHello">
						<div>
						</div>
						<div>
							<strong>하나투어 회원가입을 위한 고객님의 소중한 정보를 입력해주세요.</strong>
						</div>
					</div>
					<div class="join1-middle flex column">
						<div>
							<p>회원정보</p>
						</div>
						<form class="join-form" action="/log/joinus" method="post">
							<div>
								<table>
								<colgroup>
									<col style="width: 15%;">
								 	<col>
								</colgroup>
									<tr>
										<th>이름</th>
										<td class="flex name-td">
											<input name="name" class="input one-input" type="text" id="name-input" placeholder="이름을 입력해 주세요." required/>
											<div class="flex">
												<input hidden type="radio" id="gender1" name="gender" value="m">
												<label for="gender1" class="gender-choice">남</label><!-- 
												 --><input hidden type="radio" id="gender2" name="gender" value="w"><!-- 
												 --><label for="gender2" class="gender-choice">여</label>
											</div>
										</td>
									</tr>
									<tr>
										<th>아이디</th>
										<td class="id-td">
											<div>
												<input name="emailId" id="emailId" class="input" type="text" placeholder="이메일 주소를 입력해 주세요." required/>
												<span>@</span>
												<input name="emailSite" class="input" type="text" id="id-input" placeholder="직접입력" value="" size="24" required/>
												<select id="email-choice" onchange="autoEmail(this.value)">
													<option	value="직접입력">직접입력</option>
													<option value="naver.com">naver.com</option>
													<option value="gmail.com">gmail.com</option>
													<option value="hanatour.com">hanatour.com</option>
													<option value="nate.com">nate.com</option>
												</select><!-- 
												 --><button type="button" id="idCheck">중복여부 확인</button>
												 <span hidden id="errors" style="color: red; font-size: 15px;">이미 사용중인 아이디(이메일)입니다.</span>
												 <span hidden id="idmsg" style="color: green; font-size: 15px;">사용가능한 아이디 입니다.</span>
											</div>
											<p class="p">하나투어 닷컴 아이디는 이메일 형식입니다.</p>
										</td>
									</tr>
									<tr>
										<th>휴대폰번호</th>
										<td class="flex phone-td">
											<input name="phoneNumber" class="input one-input" type="text" placeholder="휴대폰번호를 입력해 주세요." maxlength="13" required/>
											<div class="flex">
												<input hidden type="checkbox" id="foreign">
												<label for="foreign">외국인</label>
											</div>
										</td>
									</tr>
									<tr>
										<th>생년월일</th>
										<td>
											<input name="birth" class="input" type="text" placeholder="생년월일을 8자리로 입력해 주세요." minlength="8" required/>
										</td>
									</tr>
									<tr>
										<th>비밀번호</th>
										<td class="flex column pass-td">
											<div>
												<input class="one-input input" type="password" id="pw" placeholder="비밀번호" minlength="8" maxlength="16" required/>
											</div>
											<div>
												<input name="password" class="input one-input" type="password" placeholder="비밀번호를 확인하기 위해 다시 입력해 주세요." minlength="8" maxlength="16" required/>
											</div>
											<div>
												<p  class="p">
												8~16자리의 영문 대/소문자, 숫자, 특수문자 중 2개 이상을 조합해서 비밀번호를 설정해 주세요.<br>
												(아이디, 생년월일, 동일한 연속 문자/숫자 사용 불가능) 
												</p>
											</div>
										</td>
									</tr>
								</table>							
							</div>
							<div class="additional">
								<div>
									<input hidden type="checkbox" id="all-agree">
									<label for="all-agree">전체동의</label>
								</div>
								<div>
									<div class="re-div">
										<input hidden type="checkbox" id="hana-agree" name="hanaAgree" class="join-chk" required/>
										<label for="hana-agree">
											<span>하나투어 이용약관 동의</span>
											<span>(필수)</span>
										</label>
									</div>
									<div class="re-div">
										<input hidden type="checkbox" id="personal-agree" name="personalAgree" class="join-chk" required/>
										<label for="personal-agree">
											<span>개인정보 수집 및 이용에 대한 동의</span>
											<span>(필수)</span>
										</label>
									</div>
									<div class="re-div">
										<input hidden type="checkbox" id="personal-other-agree" name="personalOtherAgree" class="join-chk" required/>
										<label for="personal-other-agree">
											<span>개인정보 제3자 제공에 대한 동의</span>
											<span>(필수)</span>
										</label>
									</div>
									<div>
										<input hidden type="checkbox" id="location-agree" name="locationAgree" class="join-chk">
										<label for="location-agree">
											<span>위치기반서비스 이용약관 동의 (선택)</span>
										</label>
									</div>
									<div>
										<input hidden type="checkbox" id="marcketing-agree" name="marcketingAgree" class="join-chk" >
										<label for="marcketing-agree">
											<span>마켓팅 활용 동의 (선택)</span>
										</label>
									</div>
									<div>
										<input hidden type="checkbox" id="marcketing-other-agree" name="marcketingOtherAgree" class="join-chk" >
										<label for="marcketing-other-agree">
											<span>마켓팅목적 제3자 제공에 대한 동의 (선택)</span>
										</label>
									</div>
								</div>
							</div>
							<div class="flex center div-joinus">
								<button id="joinus" type="submit">회원가입</button>
							</div>
						</form>
					</div>
				</div>			
			</div>			
		</div>			
	</main>
	<footer>
		<th:block th:insert="~{/common/common::footer}"/>	
	</footer>
</body>
</html>