<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{/common/common::head}"/>
	<link rel="stylesheet" href="/css/join_1.css">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript">
		function autoEmail(value){
			console.log(value)
			$("#id-input").val(value);
		};
	</script>
</head>
<body>
	<header>
		<th:block th:insert="~{/common/common::header}"/>	
	</header>
	<main>
		<div class="wrap view-size flex center">
			<div class="flex center">
				<div class="joinChoice center" >
					<div class="flex center column joinHello">
						<div>
						</div>
						<div>
							<strong>하나투어 회원가입을 위한 고객님의 소중한 정보를 입력해주세요.</strong>
						</div>
					</div>
					<div class="join1-middle flex column">
						<div>
							<p>회원정보</p>
						</div>
						<form class="join-form" action="/log/joinus" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
							<div>
								<table>
								<colgroup>
									<col style="width: 15%;">
								 	<col>
								</colgroup>
									<tr>
										<th>이름</th>
										<td class="flex name-td">
											<input name="name" class="input one-input" type="text" id="name-input" placeholder="이름을 입력해 주세요." required/>
											<div class="flex">
												<input hidden type="radio" id="gender1" name="gender" value="m">
												<label for="gender1" class="gender-choice">남</label><!-- 
												 --><input hidden type="radio" id="gender2" name="gender" value="w"><!-- 
												 --><label for="gender2" class="gender-choice">여</label>
											</div>
										</td>
									</tr>
									<tr>
										<th>아이디</th>
										<td class="id-td">
											<div>
												<input name="emailId" class="input" type="text" placeholder="이메일 주소를 입력해 주세요." required/>
												<span>@</span>
												<input name="emailSite" class="input" type="text" id="id-input" placeholder="직접입력" value="" required/>
												<select id="email-choice" onchange="autoEmail(this.value);">
													<option	value="직접입력">직접입력</option>
													<option value="naver.com">naver.com</option>
													<option value="gmail.com">gmail.com</option>
													<option value="hanatour.com">hanatour.com</option>
													<option value="nate.com">nate.com</option>
												</select><!-- 
												 --><button type="button">중복여부 확인</button>
											</div>
											<p class="p">하나투어 닷컴 아이디는 이메일 형식입니다.</p>
										</td>
									</tr>
									<tr>
										<th>휴대폰번호</th>
										<td class="flex phone-td">
											<input name="phoneNumber" class="input one-input" type="text" placeholder="휴대폰번호를 입력해 주세요." maxlength="13" required/>
											<div class="flex">
												<input hidden type="checkbox" id="foreign">
												<label for="foreign">외국인</label>
											</div>
										</td>
									</tr>
									<tr>
										<th>생년월일</th>
										<td>
											<input name="birth" class="input" type="text" placeholder="생년월일을 입력해 주세요." required/>
										</td>
									</tr>
									<tr>
										<th>비밀번호</th>
										<td class="flex column pass-td">
											<div>
												<input class="one-input input" type="password" placeholder="비밀번호" required/>
											</div>
											<div>
												<input name="password" class="input one-input" type="password" placeholder="비밀번호를 확인하기 위해 다시 입력해 주세요." required/>
											</div>
											<div>
												<p  class="p">
												8~16자리의 영문 대/소문자, 숫자, 특수문자 중 2개 이상을 조합해서 비밀번호를 설정해 주세요.<br>
												(아이디, 생년월일, 동일한 연속 문자/숫자 사용 불가능) 
												</p>
											</div>
										</td>
									</tr>
								</table>							
							</div>
							<div class="additional">
								<div>
									<input type="checkbox" id="all-agree">
									<label for="all-agree">전체동의</label>
								</div>
								<div>
									<div class="re-div">
										<input type="checkbox" id="hana-agree" name="hanaAgree" required/>
										<label for="hana-agree">
											<span>하나투어 이용약관 동의</span>
											<span>(필수)</span>
										</label>
									</div>
									<div class="re-div">
										<input type="checkbox" id="personal-agree" name="personalAgree" required/>
										<label for="personal-agree">
											<span>개인정보 수집 및 이용에 대한 동의</span>
											<span>(필수)</span>
										</label>
									</div>
									<div class="re-div">
										<input type="checkbox" id="personal-other-agree" name="personalOtherAgree" required/>
										<label for="personal-other-agree">
											<span>개인정보 제3자 제공에 대한 동의</span>
											<span>(필수)</span>
										</label>
									</div>
									<div>
										<input type="checkbox" id="location-agree" name="locationAgree">
										<label for="location-agree">
											<span>위치기반서비스 이용약관 동의 (선택)</span>
										</label>
									</div>
									<div>
										<input type="checkbox" id="marcketing-agree" name="marcketingAgree">
										<label for="marcketing-agree">
											<span>마켓팅 활용 동의 (선택)</span>
										</label>
									</div>
									<div>
										<input type="checkbox" id="marcketing-other-agree" name="marcketingOtherAgree">
										<label for="marcketing-other-agree">
											<span>마켓팅목적 제3자 제공에 대한 동의 (선택)</span>
										</label>
									</div>
								</div>
							</div>
							<div class="flex center div-joinus">
								<button id="joinus" type="submit">회원가입</button>
							</div>
						</form>
					</div>
				</div>			
			</div>			
		</div>			
	</main>
	<footer>
		<th:block th:insert="~{/common/common::footer}"/>	
	</footer>
</body>
</html>