<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{/common/common::head}"/>
	<link rel="stylesheet" href="/css/login.css">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script>
		////////////회원, 비회원선택///////////
		$(function(){
			$(".member").click(function(){
				$(".mem-section").show();
				$(".nomem-section").hide();
				
			});
			$(".non-member").click(function(){
				$(".mem-section").hide();
				$(".nomem-section").show();
			});
		});
		
		////////////패키지, 호텔/펜션/항공 선택///////////
		$(function(){
			$("#package").click(function(){
				$("#packageForm").show();
				$("#otherForm").hide();
				
			});
			$("#other").click(function(){
				$("#packageForm").hide();
				$("#otherForm").show();
			});
		});
		////////////비회원-패키지-연락처,이메일선택///////////
		function selectpe(value){
			if(value=="selectPhone"){
				$("#selectPhone").show();
				$("#selectEmail").hide();
			}else if(value=="selectEmail"){
				$("#selectPhone").hide();
				$("#selectEmail").show();
			};
		};
		///////////로그인실패시/////////////
	</script>
</head>
<body>
	<header>
		<th:block th:insert="~{/common/common::header}"/>	
	</header>
	<main>
		<div class="wrap view-size">
			<div class="flex center">
				<div id="loginForm" class="center" >
					<div class="flex center">
						<strong>로그인</strong>
					</div>
			<!-- /////////////////회원/////////////// -->
					<div>
						<div>
							<div>
								<section class="mem-section">
									<div class="memberType" >
										<ul class="flex">
											<li>
												<a href="#" class="member choice">회원</a>
											</li>
											<li>
												<a href="#" class="non-member non-choice">비회원 예약 조회</a>
											</li>
										</ul>
									</div>
									<div class="login-form">
										<div class="error" th:if="${param.error}" style="color:red">
											[[${session["SPRING_SECURITY_LAST_EXCEPTION"].message }]]
										</div>
										<form action="/log/member" method="post">
											<ul>
												<li>
													<input name="email" class="input" type="email" placeholder="아이디(이메일계정)">
												</li>
												<li>
													<input name="password" class="input" type="password" placeholder="비밀번호">
												</li>
												<li class="id-pro">
													<input type="checkbox" id="id-save"class="checkbox"/>
													<label for="id-save" id="id-save-label">
														아이디 저장
													</label>
												</li>
												<li>
													<button type="submit" class="button">로그인</button>
												</li>
											</ul>
										</form>
									</div>
									<div class="login-bottom flex center">
										<a href="#">아이디 찾기</a>
										<a href="#"><span></span>비밀번호 찾기</a>
										<a href="/log/join"><span></span>회원가입</a>
									</div>
									<div class="social-login center">
										<a href="/oauth2/authorization/naver" style="background-image: url('/img/log/ico_sns01.png')"></a>
										<a href="/oauth2/authorization/google" style="background-image: url('/img/log/ico_sns04.png')"></a>
										<a href="#" style="background-image: url('/img/log/ico_sns03.png')"></a>
									</div>
								</section>
				<!-- /////////////////비회원/////////////// -->
								<section class="nomem-section">
									<div class="memberType">
										<ul class="flex">
											<li>
												<a href="#" class="member non-choice">회원</a>
											</li>
											<li>
												<a href="#" class="non-member choice">비회원 예약 조회</a>
											</li>
										</ul>
									</div>
									<div class="login-form">
										<div class="non-member-choice">
											<input hidden type="radio" name="res-type" value="package" id="package">
											<label for="package">패키지</label>
											<input hidden type="radio" name="res-type" value="other" id="other">
											<label for="other">호텔/펜션/항공</label>
										</div>
										<form id="packageForm">
											<ul>
												<li>
													<input class="input" type="text" placeholder="이름">
												</li>
												<li>
													<input class="input" type="text" placeholder="예약번호(영문, 숫자 포함 12자)">
												</li>
												<li>
													<select class="input" name="" id="selectPersonal" onchange="selectpe(this.value);">
														<option value="selectPhone">연락처</option>
														<option value="selectEmail">이메일</option>
													</select>
													<input class="input" id="selectPhone" type="text" placeholder="010xxxxxxxx">
													<input class="input" id="selectEmail" type="text" placeholder="이메일계정">
												</li>
												<li>
													<p class="p">예약시 제공한 본인의 연락처 또는 이메일 정보를 입력해주시기 바랍니다.</p>
													<p class="p">예약시 고객님의 연락처 또는 이메일을 입력하지 않은 경우, 공식인증예약센터로 전화 문의해 주시기 바랍니다.</p>
												</li>
												<li>
													<button type="submit" class="free-button">예약조회</button>
												</li>
											</ul>
										</form>
										<form id="otherForm">
											<ul>
												<li>
													<input class="input" type="text" placeholder="이름">
												</li>
												<li>
													<input class="input" type="text" placeholder="예약번호(영문, 숫자 포함 12자)">
												</li>
												<li>
													<p class="p">예약시 제공한 본인의 연락처 또는 이메일 정보를 입력해주시기 바랍니다.</p>
													<p class="p">예약시 고객님의 연락처 또는 이메일을 입력하지 않은 경우, 공식인증예약센터로 전화 문의해 주시기 바랍니다.</p>
													<p class="p">Globalflight.hanatour.com에서 진행한 예약은 이름 입력 란에 영문이름 영문성(ex. GILDONG HONG) 순서로 입력 부탁드립니다.</p>
												</li>
												<li>
													<button type="submit" class="free-button">예약조회</button>
												</li>
											</ul>
										</form>
									</div>
								</section>
							</div>
				<!-- /////////////////회원하단/////////////// -->			
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<th:block th:insert="~{/common/common::footer}"/>	
	</footer>
</body>
</html>